<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
    <body>
      <header>
        <img src="https://uvm.edu.ve/wp-content/uploads/2022/10/LOGO-RIF.png" alt="Logo UVM">
        <h1><%= title %></h1>
      </header>
    
      <p>¡Bienvenido al <%= title %>!</p>
      
      <footer>
        <p class="footer-p">Verónica Parra 30.600.365<br>Cristhofer Solarte 30.959.561<br> <em>&copy; Backend 2024. Unidad II</em></p>
      </footer>
    
  </body>
</html>
