<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
</head>
<body>
    <h1>Materias</h1>
        <table>
            <tr>
                <th ><h3>ID_MATERIAS</h3></th>
                <th ><h3>NOMBRE</h3></th>
                 </tr>
            <% materias.forEach(r => { %>
                <tr>
                    <td><%= r.ID_MATERIAS  %></td>
                    <td><%= r.NOMBRE  %></td>
                </tr>
            <% }) %>
        </table>

</body>
</html>